<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yccoa</title>
</head>

<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
        <div style="margin:40px auto;width:80%;padding:20px 0">
            <div style="border-bottom:1px solid #eee">
                <a href="" style="font-size:1.4em;color: #37720fe7;text-decoration:none;font-weight:600">YCCOA
                    App</a>
            </div>
            <p style="color: #000000;font-weight:400">Hi,</p>
            <p style="color: #000000">Thank you for choosing YCCOA. Use the following code to complete your Signup
                procedures.</p>
            <h2
                style="background: #3b0909;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
                {{code}}</h2>
            <p style="font-size:0.9em;color: #000000">Regards,<br />YCCOA</p>
            <hr style="border:none;border-top:1px solid #eee" />

        </div>
    </div>
</body>

</html>